@import '../../properties';

.skill {
  display: block;
  border-radius: var(--radius);
  background: var(--color-white);
  padding: 48px;
}

.layout {
  @include mediaQuery(sm) {
    align-items: flex-start !important;
    flex-direction: column !important;
  }
}

.image {
  flex-shrink: 0;
  width: 28.73%;

  @include mediaQuery(md) {
  }

  @include mediaQuery(sm) {
  }
}

.textWrap {
  margin: 24px 24px 24px 32px;

  @include mediaQuery(md) {
    margin-left: 4.44%;
  }

  @include mediaQuery(sm) {
    margin-left: 0;
    margin-top: 12px;
  }
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  color: var(--color-opacity15-black);
  @include mediaQuery(sm) {
  }
}

.titleText {
  margin-left: 12px;
}

.description {
}
