@import '../../properties';

.root {
  margin: auto;
  max-width: calc(1140px + var(--space) * 12);
  padding-left: calc(var(--space) * 6);
  padding-right: calc(var(--space) * 6);
  width: 100%;

  @include mediaQuery(md) {
    padding-left: 3.125%;
    padding-right: 3.125%;
  }

  @include mediaQuery(sm) {
    padding-left: 6.4%;
    padding-right: 6.4%;
  }
}
