@import "../../properties.css";

.root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageBlock {
    width: 50%;
    padding: 40px;
}

.imageBlock img {
    margin-bottom: 0;
}

.descriptionBlock {
    width: 50%;
    padding-top: 40px;
}

.buttonContainer {
    display: flex;
}

.buttonContainer button {
    margin-right: 8px;
}

@media (max-width: 768px) {
    .root {
        flex-direction: column;
        text-align: center;
    }

    .imageBlock {
        width: 100%;
    }

    .descriptionBlock {
        width: 100%;
        padding-top: 0;
    }

    .buttonContainer {
        flex-direction: column;
        justify-content: center;
    }

    .buttonContainer button {
        margin: 0;
        margin-bottom: 8px;
        width: 100%;
    }
}
