@import "../../properties.css";

.root {

}

.txt {
    line-height: var(--line-height-paragraph);
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .root {
        text-align: center;
        margin-bottom: 40px;
    }

    .buttonContainer button{
        width: 100%;
    }
}
