@import '../../properties';

.breadcrumb {
  margin-bottom: 12px;

  @include mediaQuery(md) {
    margin-bottom: 1.56%;
  }

  @include mediaQuery(sm) {
    margin-bottom: 2.13%;
  }
}

.icon {
  color: var(--color-text-info);
}
