@import '../../properties';

.truncateText {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.description {
  margin-bottom: 6px;
}

.domainName {
  align-items: baseline;
  display: flex;
}

.domainNameText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.linkIcon {
  color: var(--color-text-disable);
  font-size: var(--font-size-xxs);
  margin-right: 6px;

  @include mediaQuery(md) {
    font-size: var(--font-size-xxxs);
  }
}

.amazonOgpDescription {
  > :first-child {
    color: var(--color-text-info);
  }
}
