@import '../../properties';

.truncateText {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ogUrl {
  align-items: baseline;
  display: flex;
  margin-top: 6px;
}

.ogUrlText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.linkIcon {
  color: var(--color-text-disable);
  font-size: 12px;
  margin-right: 6px;
}

.amazonOgpDescription {
  > :first-child {
    color: var(--color-text-info);
  }
}
