@import '../../properties';

.circle {
  align-items: center;
  border-radius: var(--radius-circle);
  color: var(--color-white) !important;
  display: flex;
  font-size: var(--font-size-l-fixed);
  height: var(--space-56-fixed);
  justify-content: center;
  width: var(--space-56-fixed);
}

.twitter {
  background-color: var(--color-twitter);
}

.facebook {
  background-color: var(--color-facebook);
}

.linkedin {
  background-color: var(--color-linkedin);
}
