.ol {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.separator {
  display: flex;
  margin-left: var(--space-12);
  margin-right: var(--space-12);
  user-select: none;
}
