.ol {
  align-items: center;
  display: flex;
  list-style: none;
  overflow: hidden;
  width: 100%;
}

.li {
  max-width: 50%;

  > p,
  > a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}

.separator {
  display: flex;
  margin-left: var(--space-12);
  margin-right: var(--space-12);
  user-select: none;
}
