@import '../../properties';

.firstview {
  background-color: var(--color-white);
  margin-bottom: var(--space-96);
  padding-bottom: var(--space-96);
}

.titleWrap {
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-24);

  @include mediaQuery(md) {
    display: block;
  }
}

.title {
  margin-right: var(--space-64);
  max-width: 430px;

  @include mediaQuery(lg) {
    font-size: var(--font-size-xxxl) !important;
  }

  @include mediaQuery(md) {
    font-size: var(--font-size-xxl) !important;
    margin-bottom: var(--space-24);
    margin-right: 0;
    max-width: 620px;
  }

  @include mediaQuery(sm) {
    font-size: var(--font-size-xl) !important;
  }
}

.description {
  max-width: 580px;

  @include mediaQuery(md) {
    max-width: 620px;
  }
}

.background {
  background: var(--color-background);
}
