@import '../../properties';

.visual {
  height: 33.67vw;
  margin: auto;
  max-width: 2000px;

  @include mediaQuery(xl) {
    height: 460px;
  }

  @include mediaQuery(md) {
    height: 360px;
  }

  @include mediaQuery(sm) {
    height: 250px;
  }
}

.breadcrumb {
  margin-bottom: 24px;

  @include mediaQuery(lg) {
    margin-bottom: 2.41%;
  }

  @include mediaQuery(md) {
    margin-bottom: 1.04%;
  }

  @include mediaQuery(sm) {
    margin-bottom: 2.13%;
  }
}

.link {
  color: var(--color-text);
}

.firstview {
  margin-bottom: 96px;
  margin-top: 40px;

  @include mediaQuery(lg) {
    margin-bottom: 9.67%;
    margin-top: 4.03%;
  }

  @include mediaQuery(md) {
    margin-bottom: 8.33%;
    margin-top: 4.16%;
  }

  @include mediaQuery(sm) {
    margin-bottom: 12.8%;
    margin-top: 6.4%;
  }
}

.titleWrap {
  display: flex;
  justify-content: space-between;

  @include mediaQuery(md) {
    display: block;
  }
}

.title {
  margin-right: 5.61%;
  max-width: 430px;

  @include mediaQuery(lg) {
    font-size: var(--font-size-xxxl) !important;
  }

  @include mediaQuery(md) {
    font-size: var(--font-size-xxl) !important;
    margin-bottom: 3.125%;
    margin-right: 0;
    max-width: 620px;
  }

  @include mediaQuery(sm) {
    font-size: var(--font-size-xl) !important;
  }
}

.description {
  max-width: 580px;

  @include mediaQuery(md) {
    max-width: 620px;
  }
}

.background {
  background: var(--color-background);
  padding: 96px 0 80px;

  @include mediaQuery(md) {
    padding: 8.33% 0 10.41%;
  }

  @include mediaQuery(sm) {
    padding: 12.8% 0 17.06%;
  }
}

.footer {
  margin-top: 0 !important;
}
