@import '../../properties';

.h {
  color: var(--color-text);
  line-height: var(--line-height-s);
}

.normal {
  font-weight: var(--font-weight-normal);
}

.bold {
  font-weight: var(--font-weight-bold);
  font-family:
  -apple-system,
  BlinkMacSystemFont,
  Segoe UI,
  Helvetica Neue,
  Arial,
  'Hiragino Kaku Gothic ProN';
}

.h1 {
  font-size: var(--font-size-xxxl);

  @include mediaQuery(md) {
    font-size: var(--font-size-xxl);
  }
}

.h2 {
  font-size: var(--font-size-xxl);

  @include mediaQuery(md) {
    font-size: var(--font-size-xl);
  }
}

.h3 {
  font-size: var(--font-size-xl);

  @include mediaQuery(md) {
    font-size: var(--font-size-l);
  }
}

.h4 {
  font-size: var(--font-size-l);

  @include mediaQuery(md) {
    font-size: var(--font-size-m);
  }
}

.h5 {
  font-size: var(--font-size-m);

  @include mediaQuery(md) {
    font-size: var(--font-size-s);
  }
}

.h6 {
  font-size: var(--font-size-s);

  @include mediaQuery(md) {
    font-size: var(--font-size-xs);
  }
}
