@import '../../properties';

.h {
  color: var(--color-text);
  line-height: var(--line-height-s);
}

.normal {
  font-weight: var(--font-weight-normal);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.decorated {
  background: var(--color-block);
  border-left: 4px solid var(--color-accent);
  display: inline-block;
  font-weight: var(--font-weight-bold);
  padding: 0.33em 0.66em;
}

.h1 {
  font-size: var(--font-size-xxxxl);

  @include mediaQuery(md) {
    font-size: var(--font-size-xxxl);
  }
}

.h2 {
  font-size: var(--font-size-xxxl);

  @include mediaQuery(md) {
    font-size: var(--font-size-xxl);
  }
}

.h3 {
  font-size: var(--font-size-xxl);

  @include mediaQuery(md) {
    font-size: var(--font-size-xl);
  }
}

.h4 {
  font-size: var(--font-size-xl);

  @include mediaQuery(md) {
    font-size: var(--font-size-l);
  }
}

.h5 {
  font-size: var(--font-size-l);

  @include mediaQuery(md) {
    font-size: var(--font-size-m);
  }
}

.h6 {
  font-size: var(--font-size-m);

  @include mediaQuery(md) {
    font-size: var(--font-size-s);
  }
}
