@import '../../properties';

.h {
  color: var(--color-text);
  line-height: var(--line-height-s);
}

.normal {
  font-weight: var(--font-weight-normal);
}

.bold {
  font-weight: var(--font-weight-bold);
}

.highlight {
  align-self: flex-start;
  background: var(--color-block);
  border-left: 3px solid var(--color-accent);
  display: inline-block;
  font-weight: var(--font-weight-bold);
  padding: 0.33em 0.66em;
}

.underline {
  align-self: flex-start;
  border-bottom: solid 1px var(--color-opacity15-black);
  display: block;
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--space-40);
  margin-top: var(--space-40);
  padding-bottom: 0.5em;
}

.h1 {
  font-size: var(--font-size-xxxxl);
}

.h2 {
  font-size: var(--font-size-xxxl);
}

.h3 {
  font-size: var(--font-size-xxl);
}

.h4 {
  font-size: var(--font-size-xl);
}

.h5 {
  font-size: var(--font-size-l);
}

.h6 {
  font-size: var(--font-size-m);
}
