@import "../../properties.css";

.root {
  max-height: 500px;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topSectionLeft {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  padding-right: 40px;
}


.topSectionRight {
  height: 100%;
  width: 60%;
}


.sceneSection {
  padding-top: 64px;
  padding-bottom: 80px;
  a {
    display: block;
    margin-bottom: 40px;
  }
}
