.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.body {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.body > :nth-child(2),
.body > :last-child {
  flex: 0 0 12em;
}

.body > :nth-child(2) {
  order: -1;
}

.body > :first-child {
  flex: 1;
}

@media (max-width: 768px) {
  .body {
    flex-direction: column;
    flex: 0 1 auto;
  }

  .body > :nth-child(2),
  .body > :last-child {
    flex: 0 1 auto;
  }

  .body > :first-child {
    flex: 0 1 auto;
  }

}
