@import '../../properties';

.ogContent {
  padding: 24px;
  width: 100%;

  @include mediaQuery(sm) {
    padding: 16px;
  }
}

.ogTitle {
  margin-bottom: 4px;
}

.truncateText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.ogUrl {
  align-items: baseline;
  display: flex;
  margin-top: 6px;
}

.linkIcon {
  color: var(--color-text-disable);
  font-size: 12px;
  margin-right: 6px;
}

.navigationLink {
  color: var(--color-text-info);
}

.hidden {
  display: none !important;
}
