version: 2.1
orbs:
  node: circleci/node@3.0.0
jobs:
  build-and-test:
    docker:
      - image: circleci/node:12.18.0
    executor:
      name: node/default
    steps:
      - checkout
      - node/with-cache:
          steps:
            - run: yarn install
            - run: yarn test
workflows:
    build-and-test:
      jobs:
        - build-and-test
