@import '../../properties';

.root {
  margin-left: calc(var(--space-16-fixed) * -1);
  margin-top: calc(var(--space-8-fixed) * -1);
  min-width: 200px;
  position: sticky;
  top: var(--space-48-fixed);

  @include mediaQuery(md) {
    border-top: var(--border);
    margin-left: 0;
    margin-top: var(--space-64-fixed);
    padding-top: var(--space-32-fixed);
    width: 100%;
  }
}

.listItem {
  margin-left: var(--space-16-fixed);
}

.listItemLink {
  color: var(--color-text-info);
  display: block;
  padding: var(--space-8-fixed) var(--space-16-fixed);

  svg {
    color: var(--color-icon);
  }

  @include mediaQuery(md) {
    padding-bottom: var(--space-12-fixed);
    padding-top: var(--space-12-fixed);
  }
}

.active {
  color: var(--color-text);
  font-weight: var(--font-weight-bold);

  svg {
    color: var(--color-secondary);
  }

  &:hover {
    cursor: default;
    text-decoration: none;
  }
}

.truncate {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
