.mediaObjectLayout {
  align-items: center;
  display: flex;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.top {
  align-items: flex-start;
  flex-direction: column;
}
