.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  flex: 1;
  min-width: 0;
  flex-grow: 3;
}

.container > div {
  //width: 50%;
}

.media {
  flex-basis: 440px;
}

@media (max-width: 768px) {
  .container > div {
    width: 100%;
  }
}
