.root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  flex: 1;
  min-width: 0;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.top {
  flex-direction: column;
}
