:root {
  /* **** バリュー（値）層 **** */

  /* 色：色相名とカラーコードの紐付け */
  --color-white: #fff;
  --color-opacity87-black: rgba(0, 0, 0, 0.87);
  --color-opacity60-black: rgba(0, 0, 0, 0.6);
  --color-opacity38-black: rgba(0, 0, 0, 0.38);
  --color-opacity15-black: rgba(0, 0, 0, 0.15);
  --color-opacity2-black: rgba(0, 0, 0, 0.02);
  --color-blue: #0366d6;
  --color-athens-gray: #f2f4f7;
  --color-turquoise: #32ddc9;
  --color-aqua: #30c8d6;

  /* **** ブランディング層 **** */

  /* 色：色相名とカラーコードの紐付け */
  --color-base: var(--color-athens-gray);
  --color-primary: var(--color-opacity87-black);
  --color-secondary: var(--color-opacity60-black);
  --color-accent: var(--color-turquoise);

  /* **** メディア層 **** */

  /* 色：媒体固有で使用する色 */
  --color-text: var(--color-primary);
  --color-text-info: var(--color-secondary);
  --color-text-disable: var(--color-opacity38-black);
  --color-line: var(--color-opacity15-black);
  --color-background: var(--color-base);
  --color-overlay: var(--color-opacity60-black);
  --color-link: var(--color-blue);
  --color-block: var(--color-opacity2-black);
  --color-twitter: #1da1f2;
  --color-facebook: #1877f2;
  --color-linkedin: #2867b2;
  --color-button-primary: var(--color-aqua);
  --color-button-primary-hover: #23a4b0;
  --color-404background: #f9fbfe;

  /* 文字：サイズ（レスポンシブ） */
  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
  --font-size-xxxl: 40px;
  --font-size-xxxxl: 48px;

  /* 文字：サイズ（固定値） */
  --font-size-xxxs-fixed: 10px;
  --font-size-xxs-fixed: 12px;
  --font-size-xs-fixed: 14px;
  --font-size-s-fixed: 16px;
  --font-size-m-fixed: 18px;
  --font-size-l-fixed: 20px;
  --font-size-xl-fixed: 24px;
  --font-size-xxl-fixed: 32px;
  --font-size-xxxl-fixed: 40px;
  --font-size-xxxxl-fixed: 48px;

  /* 文字：太さ（媒体に最適化した文字の太さ） */
  --font-weight-default: 400;
  --font-weight-bold: 700;

  /* 文字：行間 */
  --line-height-s: 1.3;
  --line-height-m: 1.5;
  --line-height-l: 1.7;

  /* spacing values */
  --space-8: 8px;
  --space-12: 12px;
  --space-16: 16px;
  --space-20: 20px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-56: 56px;
  --space-64: 64px;
  --space-72: 72px;
  --space-80: 80px;
  --space-88: 88px;
  --space-96: 96px;
  --space-104: 104px;
  --space-112: 112px;
  --space-120: 120px;

  /* fixed spacing values */
  --space-2-fixed: 2px;
  --space-4-fixed: 4px;
  --space-6-fixed: 6px;
  --space-8-fixed: 8px;
  --space-12-fixed: 12px;
  --space-16-fixed: 16px;
  --space-20-fixed: 20px;
  --space-24-fixed: 24px;
  --space-32-fixed: 32px;
  --space-40-fixed: 40px;
  --space-48-fixed: 48px;
  --space-56-fixed: 56px;
  --space-64-fixed: 64px;
  --space-72-fixed: 72px;
  --space-80-fixed: 80px;
  --space-88-fixed: 88px;
  --space-96-fixed: 96px;
  --space-104-fixed: 104px;
  --space-112-fixed: 112px;
  --space-120-fixed: 120px;

  /* 枠に関する要素（媒体に最適化した枠デザイン要素） */
  --line-width: 1px;
  --line-style: solid;
  --radius: 10px;
  --border: var(--line-width) var(--line-style) var(--color-line);

  /* フィードバックの定義（媒体に最適化したフィードバック・デザイン要素） */
  --hover-feedback-opacity: 0.7;

  /* アニメーションの定義（媒体に最適化したアニメーション・デザイン要素） */
  --hover-link-animation: 0.1s ease-out;
  --hover-overlay-animation: 0.3s ease-out;

  /* Z 座標の管理（Web媒体/CSSではZ座標を管理する） */
  --z-header: none;
  --z-overlay: 10;
  --z-overlay-content: 20;
}

html {
  box-sizing: border-box;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Helvetica Neue,
    Arial,
    'Hiragino Kaku Gothic ProN',
    'Hiragino Sans',
    Meiryo,
    sans-serif;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--color-text);
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: currentColor underline;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  max-width: 100%;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}

figure {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

hr {
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  box-sizing: content-box;
  height: 1px;
  margin-bottom: calc(1.45rem - 1px);
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  overflow: visible;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

button {
  appearance: none;
  background: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: 700;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type='reset'],
[type='submit'],
button,
html [type='button'] {
  -webkit-appearance: button;
}

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0.35em 0.625em 0.75em;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

* {
  box-sizing: inherit;
}

*::before {
  box-sizing: inherit;
}

*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.62671rem;
}

h3 {
  font-size: 1.38316rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.85028rem;
}

h6 {
  font-size: 0.78405rem;
}

hgroup {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

ul {
  list-style-image: none;
  list-style-position: inside;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

ol {
  list-style-image: none;
  list-style-position: inside;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

ul > :last-child,
ol > :last-child {
  margin-bottom: 0;
}

dl {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

dd {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

p {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

pre {
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-size: 0.85rem;
  line-height: 1.42;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  overflow: auto;
  padding: 1.45rem;
  word-wrap: normal;
}

table {
  border-collapse: collapse;
  font-size: 1rem;
  line-height: 1.45rem;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  width: 100%;
}

blockquote {
  margin-bottom: 0;
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

form {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

noscript {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

iframe {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

address {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

dt {
  font-weight: bold;
}

th {
  font-weight: bold;
}

li {
  margin-bottom: 0;
}

ol li {
  padding-left: 0;
}

ul li {
  padding-left: 0;
}

blockquote *:last-child {
  margin-bottom: 0;
}

li *:last-child {
  margin-bottom: 0;
}

p *:last-child {
  margin-bottom: 0;
}

li > p {
  margin-bottom: 0;
}

code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}

abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}

thead {
  text-align: left;
}

td,
th {
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  -moz-font-feature-settings: 'tnum';
  -ms-font-feature-settings: 'tnum';
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  padding-bottom: calc(0.725rem - 1px);
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  text-align: left;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family:
    'SFMono-Regular',
    Consolas,
    'Roboto Mono',
    'Droid Sans Mono',
    'Liberation Mono',
    Menlo,
    Courier,
    monospace;
  padding: 0;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

pre code {
  background: none;
  line-height: 1.42;
}

code::before,
code::after,
tt::before,
tt::after {
  content: ' ';
  letter-spacing: -0.2em;
}

pre code::before,
pre code::after,
pre tt::before,
pre tt::after {
  content: '';
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width: 991px) {
  :root {
    --space-80: 72px;
    --space-88: 80px;
    --space-96: 88px;
    --space-104: 96px;
    --space-112: 104px;
    --space-120: 112px;
  }
}

@media screen and (max-width: 767px) {
  :root {
    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 18px;
    --font-size-xl: 20px;
    --font-size-xxl: 24px;
    --font-size-xxxl: 32px;
    --font-size-xxxxl: 40px;
    --space-8: 6px;
    --space-12: 10px;
    --space-16: 12px;
    --space-20: 16px;
    --space-24: 20px;
    --space-32: 24px;
    --space-40: 32px;
    --space-48: 40px;
    --space-56: 48px;
    --space-64: 56px;
    --space-72: 64px;
  }
}

@media screen and (max-width: 544px) {
  :root {
    --space-8: 4px;
    --space-12: 6px;
    --space-16: 8px;
    --space-20: 12px;
    --space-24: 16px;
    --space-32: 20px;
    --space-40: 24px;
    --space-48: 32px;
    --space-56: 40px;
    --space-64: 48px;
    --space-72: 56px;
    --space-80: 64px;
    --space-88: 72px;
    --space-96: 80px;
    --space-104: 88px;
    --space-112: 96px;
    --space-120: 104px;
  }
}
