@import '../../properties';

.root {
    position: relative;
}

.overlay {
    align-items: center;
    background-color: var(--color-overlay);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

.back {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
