@import "../../properties.css";

.header {
    background-color: var(--color-white);
    height: 48px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 3px var(--color-shadow);
}

.headerMenuContainer {
    display: flex;
}

.headerMenu {
    padding: 0 16px;
    display: flex;
    align-items: center;
    transition: border-bottom var(--hover-animation);
}

.headerMenu:hover {
    border-bottom: var(--border);
}

.headerMenu a {
    color: #2b546a;
    text-decoration: none;
    font-size: var(--font-size-s);
}
