@import '../../properties';

.header {
    align-items: center;
    background-color: var(--color-white);
    border-bottom: var(--border);
    display: flex;
    height: 70px;

  @include mediaQuery(sm) {
    height: 60px;
  }
}

.logo {
    margin-top: var(--space);

  @include mediaQuery(sm) {
    width: 180px;
  }
}
