@import '../../properties.scss';

.header {
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: var(--border);
  background-color: var(--color-white);

  @include mq(sm) {
    height: 60px;
  }
}

.logo {
  margin-top: var(--space);

  @include mq(sm) {
    width: 180px;
  }
}
