@import "../../properties.css";

.root {
    width: 100%;
    margin: 0;
    padding: 72px 0;
    border-top: var(--border);
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    > div {
        display: flex;
        justify-content: space-between;
    }
}


.logoBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    margin-right: 50px;
}

.menuBlock {
    display: flex;
}

.menuContainer {
    margin: 0 40px;
}

.menuContainer li {
    margin-bottom: 8px;
}
.menuContainer li strong{
    font-weight: var(--font-weight-bold);
}

.menuItem {

}


@media (max-width: 768px) {
    .root {
    }

    .container {
        max-width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .menuBlock {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .logoBlock {
        margin-right: 0;
    }

    .menuContainer {
        margin: 20px 0;
    }

    .menuContainer li {
        margin-bottom: 8px;
    }
    .menuContainer li strong{
        font-weight: var(--font-weight-bold);
    }
}
