@import '../../properties';

.footer {
  background: var(--color-white);
  border-top: var(--border);
  margin-top: var(--space-80);
  padding: var(--space-56-fixed) 0;

  @include mediaQuery(sm) {
    margin-top: var(--space-64-fixed);
    padding: var(--space-40-fixed) 0;
  }
}

.logo {
  @include mediaQuery(sm) {
    width: 180px;
  }
}

.inner {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-48-fixed);

  @include mediaQuery(sm) {
    display: block;
    margin-top: var(--space-40-fixed);
  }
}

.item {
  margin-bottom: var(--space-16-fixed);

  &:last-child {
    margin-bottom: 0;
  }
}

.link {
  color: var(--color-text);
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
}

.copyright {
  margin-top: var(--space-40-fixed);
}
