@import '../../properties';

.footer {
  background: var(--color-white);
  border-top: var(--border);
  margin-top: 80px;
  padding: 56px 0;

  @include mediaQuery(md) {
    margin-top: 10.41%;
  }

  @include mediaQuery(sm) {
    margin-top: 17.06%;
    padding: 40px 0;
  }
}

.logo {
  @include mediaQuery(sm) {
    width: 180px;
  }
}

.inner {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-top: 48px;

  @include mediaQuery(sm) {
    display: block;
    margin-top: 40px;
  }
}

.item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.link {
  color: var(--color-text);
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
}

.copyright {
  margin-top: 40px;
}
