@import "../../properties.css";

.root {
    width: 100%;
    margin: 0;
    padding: 72px 0;
    border-top: var(--border);
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    > div {
        display: flex;
        justify-content: space-between;
    }
}

.menuContainer {
    margin: 0 40px;
    li {
        margin-bottom: 16px;
    }
}



@media (max-width: 768px) {
    .root {
    }

    .container {
        max-width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    .menuContainer {
        margin: 20px 0;
    }

    .menuContainer li {
        margin-bottom: 8px;
    }
    .menuContainer li strong{
        font-weight: var(--font-weight-bold);
    }
}
