@import '../../properties';

.container {
  margin-top: 64px !important;

  @include mediaQuery(md) {
    margin-top: 8.33%;
  }

  @include mediaQuery(sm) {
    margin-top: 12.8%;
  }
}

.item {
  margin-bottom: 40px;

  @include mediaQuery(md) {
    margin-bottom: 5.55%;
  }

  @include mediaQuery(sm) {
    margin-bottom: 14.678%;
  }
}
