@import '../../properties';

.background {
  background: var(--color-background);
}

.titleWrap {
  margin: 72px 0 80px;
  text-align: center;

  @include mediaQuery(md) {
    margin: 8.33% 0;
    text-align: left;
  }

  @include mediaQuery(sm) {
    margin: 14.67% 0;
    text-align: left;
  }
}

.title {
  margin-bottom: 0.4em;
}

.item {
  margin-bottom: 112px;

  @include mediaQuery(lg) {
    margin-bottom: 8.96%;
  }

  @include mediaQuery(md) {
    margin-bottom: 11.45%;
  }

  @include mediaQuery(sm) {
    margin-bottom: 10.66%;
  }
}
