@import '../../properties';

.background {
  background: var(--color-background);
}

.titleWrap {
  text-align: center;
  margin: 72px 0 80px;

  @include mediaQuery(md) {
    text-align: left;
    margin: 14.67% 0;
  }
}

.title {
  margin-bottom: 0.4em;
}

.item {
  margin-bottom: 112px;

  @include mediaQuery(lg) {
    margin-bottom: 8.96%;
  }

  @include mediaQuery(md) {
    margin-bottom: 11.45%;
  }

  @include mediaQuery(sm) {
    margin-bottom: 8.53%;
  }
}
