@import "../../properties.scss";

.ul {
  margin: 0;
  list-style-type: none;
}

.ol {
  margin-bottom: 0;
}

.ul, .ol {
  li {
    margin-bottom: 0;
  }
}

.bordered {
  border: var(--border);
  border-radius: var(--radius);
}
