@import '../../properties.scss';

.ul {
  list-style-type: none;
}

.bordered {
  border: var(--border);
  border-radius: var(--radius);

  :last-child {
    border-bottom: none;
  }
}

.li {
  margin-bottom: 0;
}

.underlined {
  border-bottom: var(--border);
}
