@import "../../properties.scss";

.ul {
  list-style-type: none;
}

.ol {
  padding-left: 24px;
}

.ul, .ol {
  margin: 0;
  li {
    margin-bottom: 0;
  }
}

.bordered {
  border: var(--border);
  border-radius: var(--radius);
}
