@import "../properties.css";



/* Dark mode styles */
.dark-switcher {
  color: #fff;
  margin-top: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
}
@media (min-width: 992px) {
  .dark-switcher {
    position: absolute;
    right: 15px;
    top: 10px;
  }
}
.dark {
  background-color: #2a2b2d;
  color: #fff;
  transition: all 0.6s ease;
    /* **** バリュー（値）層 **** */
    /* 色：色相名とカラーコードの紐付け */

    /* **** ブランディング層 **** */
    /* 色：色相名とカラーコードの紐付け */
    --color-base: var(--color-black);
    --color-base-background: var(--color-black);
    --color-title-background: var(--color-black);
    --color-link: var(--color-blue);
    --color-link-visited: none;
    --color-link-hover: none;
    --color-link-active: none;
    --color-success: var(--color-green);
    --color-success-hover: var(--color-green);

    --color-danger: var(--color-red);
    --color-danger-hover: var(--color-red);

    --color-warning: var(--color-orange);
    --color-warning-hover: var(--color-orange);

    --color-info: var(--color-text-gray);

    --color-primary: var(--color-aqua);
    --color-primary-hover: var(--color-aqua-dark);

    --color-secondary: var(--color-gray);
    --color-secondary-hover: var(--color-navy-gray);

    --color-accent: none;
    --color-selected: var(--color-light-aqua);
    --color-shadow: rgba(160,166,179,0.3);
    --color-shadow-hover: rgba(160,166,179,0.4);

    /* 色：色相名とカラーコードの紐付け */


    /* **** メディア層 **** */
    /* 色：媒体固有で使用する色 */
    --color-text: var(--color-white);
    --color-text-out: var(--color-white);
    --color-tip: var(--color-gray);
    --color-line: var(--color-gray);
    --color-info-layer1: var(--color-gray);
    --color-info-layer2: var(--color-white);
    --color-header: var(--color-white);
    --color-card: var(--color-white);
    --color-card-header: var(--color-white);


    /* 文字：サイズ（媒体に最適化した文字サイズ） */
    --font-size-xxs: .4rem;
    --font-size-xs: .6rem;
    --font-size-s: .8rem;
    --font-size-m: 1rem;
    --font-size-l: 1.2rem;
    --font-size-xl: 1.4rem;
    --font-size-xxl: 1.6rem;
    --font-size-xxxl: 1.8rem;
    --font-size-xxxxl: 2.0rem;




    /* 文字：太さ（媒体に最適化した文字の太さ） */
    --font-weight-default: 500;
    --font-weight-bold: 700;

    /* 文字：太さ（媒体に最適化した文字の太さ） */
    --line-height-heading: 1.1;
    --line-height-default: 1.2;
    --line-height-paragraph: 2;


    /* 余白（媒体に最適化した余白単位） */
    --space: .5rem;
    --letter-space: 1rem;

    /* 枠に関する要素（媒体に最適化した枠デザイン要素） */
    --line-width: 1px;
    --line-style: solid;
    --radius: 8px;
    --border: var(--line-width) var(--line-style) var(--color-line);


    /* フィードバックの定義（媒体に最適化したフィードバック・デザイン要素） */
    --hover-feedback-opacity: .7;

    /* アニメーションの定義（媒体に最適化したアニメーション・デザイン要素） */
    --hover-animation-duration: .2s;
    --hover-animation-timing: ease-out;
    --hover-animation: var(--hover-animation-duration) var(--hover-animation-timing);
    --feed-animation-duration: .2s;
    --feed-animation-timing: linear;
    --feed-animation: var(--feed-animation-duration) var(--feed-animation-timing);


    /* Z 座標の管理（Web媒体/CSSではZ座標を管理する） */
    --z-header: 10;


    /* レスポンシブ・デザイン用のカスタム・メディア（Webブラウザ用） */
}

@media (prefers-color-scheme: dark) {
  .dark {
    background-color: blue!important;
  }
}

@media (prefers-color-scheme: light) {
  .light {
    background-color: yellow!important;
  }
}

.light {
  transition: all 0.6s ease;
  background-color: #fefefe;

    /* **** ブランディング層 **** */
    /* 色：色相名とカラーコードの紐付け */
    --color-base: var(--color-black);
    --color-base-background: var(--color-white);
    --color-title-background: var(--color-black);
    --color-link: var(--color-blue);
    --color-link-visited: none;
    --color-link-hover: none;
    --color-link-active: none;
    --color-success: var(--color-green);
    --color-success-hover: var(--color-green);

    --color-danger: var(--color-red);
    --color-danger-hover: var(--color-red);

    --color-warning: var(--color-orange);
    --color-warning-hover: var(--color-orange);

    --color-info: var(--color-text-gray);

    --color-primary: var(--color-aqua);
    --color-primary-hover: var(--color-aqua-dark);

    --color-secondary: var(--color-gray);
    --color-secondary-hover: var(--color-navy-gray);

    --color-accent: none;
    --color-selected: var(--color-light-aqua);
    --color-shadow: rgba(160,166,179,0.3);
    --color-shadow-hover: rgba(160,166,179,0.4);

    /* 色：色相名とカラーコードの紐付け */


    /* **** メディア層 **** */
    /* 色：媒体固有で使用する色 */
    --color-text: var(--color-black);
    --color-text-out: var(--color-white);
    --color-tip: var(--color-gray);
    --color-line: var(--color-gray);
    --color-info-layer1: var(--color-gray);
    --color-info-layer2: var(--color-white);
    --color-header: var(--color-white);
    --color-card: var(--color-white);
    --color-card-header: var(--color-white);


    /* 文字：サイズ（媒体に最適化した文字サイズ） */
    --font-size-xxs: .4rem;
    --font-size-xs: .6rem;
    --font-size-s: .8rem;
    --font-size-m: 1rem;
    --font-size-l: 1.2rem;
    --font-size-xl: 1.4rem;
    --font-size-xxl: 1.6rem;
    --font-size-xxxl: 1.8rem;
    --font-size-xxxxl: 2.0rem;




    /* 文字：太さ（媒体に最適化した文字の太さ） */
    --font-weight-default: 500;
    --font-weight-bold: 700;

    /* 文字：太さ（媒体に最適化した文字の太さ） */
    --line-height-heading: 1.1;
    --line-height-default: 1.2;
    --line-height-paragraph: 2;


    /* 余白（媒体に最適化した余白単位） */
    --space: .5rem;
    --letter-space: 1rem;

    /* 枠に関する要素（媒体に最適化した枠デザイン要素） */
    --line-width: 1px;
    --line-style: solid;
    --radius: 8px;
    --border: var(--line-width) var(--line-style) var(--color-line);


    /* フィードバックの定義（媒体に最適化したフィードバック・デザイン要素） */
    --hover-feedback-opacity: .7;

    /* アニメーションの定義（媒体に最適化したアニメーション・デザイン要素） */
    --hover-animation-duration: .2s;
    --hover-animation-timing: ease-out;
    --hover-animation: var(--hover-animation-duration) var(--hover-animation-timing);
    --feed-animation-duration: .2s;
    --feed-animation-timing: linear;
    --feed-animation: var(--feed-animation-duration) var(--feed-animation-timing);


    /* Z 座標の管理（Web媒体/CSSではZ座標を管理する） */
    --z-header: 10;


    /* レスポンシブ・デザイン用のカスタム・メディア（Webブラウザ用） */


}
.dark a,
.dark a:visited {
  color: #fff;
}



html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  color: inherit;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;

}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue','Arial','Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica Neue','Arial','Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size-xxxxl);
  line-height: var(--line-height-heading);
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size-xxxl);
  line-height: var(--line-height-heading);
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size-xxl);
  line-height: var(--line-height-heading);
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size-xl);
  line-height: var(--line-height-heading);
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size-l);
  line-height: var(--line-height-heading);
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: var(--font-size-m);
  line-height: var(--line-height-heading);
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  list-style-position: outside;
  list-style-image: none;
  list-style-type: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: 0;
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
