@import '../../properties';

.listItem {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--space-56);

  @include mediaQuery(md) {
    font-size: var(--font-size-m);
  }
}

.title {
  display: inline-block;
  margin-bottom: var(--space-12);
}

.description {
  margin-bottom: var(--space-16-fixed);
}

.ogpWrap {
  font-weight: var(--font-weight-default);
}
