@import '../../properties';

.listItem {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--space-56);
}

.title {
  display: inline;
}

.description {
  margin-bottom: var(--space-16-fixed);
  margin-top: var(--space-12);
}

.ogpWrap {
  font-weight: var(--font-weight-default);
}
