@import '../../properties';

.root {
  height: 33.67vw;

  @include mediaQuery(xl) {
    height: 460px;
  }

  @include mediaQuery(md) {
    height: 360px;
  }

  @include mediaQuery(sm) {
    height: 250px;
  }

  > img {
    object-fit: cover;
    width: 100%;
  }

  > img,
  div {
    height: 100%;
  }
}
