@import '../../properties';

.mainVisual {
  align-items: center;
  display: flex;
  height: 500px;
  padding: 40px 0;
  width: 100%;

  @include mediaQuery(md) {
    display: block;
  }

  @include mediaQuery(sm) {
    height: 420px;
  }
}

.title {
  margin-bottom: 12px;

  @include mediaQuery(sm) {
    margin-bottom: 6px;
  }
}
