@import "../../properties.css";

.root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reverse {
    flex-direction: row-reverse;
    text-align: right;
}

.imageBlock {
    width: 50%;
}

.imageBlock img {
    margin-bottom: 0;
}

.descriptionBlock {
    width: 50%;
}

@media (max-width: 768px) {
    .root {
        flex-direction: column;
        text-align: center;
    }

    .imageBlock {
        width: 100%;
    }

    .descriptionBlock {
        width: 100%;
        padding-top: 0;
    }

    .descriptionBlock button{
        width: 100%;
    }
}
