@import '../../properties';

.navigationLink {
    line-height: var(--line-height-s);
    text-decoration: none;

    span {
        padding-right: var(--space);
    }
}

.navigationLink:hover {
    text-decoration: underline;
}
