@import '../../properties';

.tab {
  display: flex;
  margin-bottom: var(--space-40);
}

.tabItem {
  background-color: var(--color-block);
  border-radius: var(--radius-m);
  flex: 1;
  padding: var(--space-24);
  text-align: left;

  &:first-child {
    margin-right: var(--space-24);
  }
}

.tabIconWrap {
  align-items: center;
  display: flex;
  margin-bottom: var(--space-24);
}

.tabIcon {
  width: 70px;
}

.tabTextWrap {
  margin-left: var(--space-16);
}

.levelText {
  margin-bottom: var(--space-6-fixed);
}

.taskWrap {
  border-left: 2px solid var(--color-line);
  padding-bottom: var(--space-32);
  padding-left: calc(10px + var(--space-16));
  position: relative;

  &::before {
    background-color: var(--color-accent);
    border-radius: var(--radius-circle);
    content: '';
    height: 10px;
    left: -6px;
    position: absolute;
    top: 0;
    width: 10px;
  }
}

.taskTitle {
  margin-bottom: var(--space-16);
  position: relative;
}

.taskText {
  background-color: var(--color-block);
  border-radius: var(--radius-m);
  margin-top: var(--space-12);
  padding: var(--space-16);
}
