@import "../../properties.css";

.btn {
    background: none;
    color: var(--color-base);
    display: inline-block;
    font-weight: var(--font-weight-default);
    cursor: pointer;
    border: none;
    padding: .8rem;
    font-size: var(--font-size-m);
    line-height: 1;
    text-decoration: none;
    border-radius: var(--radius);
    transition: all var(--hover-animation);
}

.base {
    color: var(--color-navy-dark);
    background-color: var(--color-white);
    border: var(--border);
}

.primary {
    background-color: var(--color-primary);
}

.primary:hover {
    background-color: var(--color-primary-hover);
}

.secondary {
    background-color: var(--color-secondary);
}
.secondary:hover {
    background-color: var(--color-secondary);
}

.warning {
    background-color: var(--color-warning);
}
.warning:hover {
    background-color: var(--color-warning);
}
.danger {
    background-color: var(--color-danger);
}
.danger:hover {
    background-color: var(--color-danger);
}


@media (max-width: 768px) {
    .btn {
        width: 100%;
    }
}
