@import "../../properties.css";

.root {
    background: none;
    color: var(--color-base);
    cursor: pointer;
    border: none;
    padding: 16px 24px;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-default);
    border-radius: var(--radius);
    transition: background-color var(--hover-animation);
}

.base {
    color: var(--color-navy-dark);
    background-color: var(--color-white);
    border: var(--border);
}

.primary {
    background-color: var(--color-primary);
}
.primary:hover {
    background-color: var(--color-primary-hover);
}

.secondary {
    background-color: var(--color-secondary);
}
.secondary:hover {
    background-color: var(--color-secondary);
}

.warning {
    background-color: var(--color-warning);
}
.warning:hover {
    background-color: var(--color-warning);
}
.danger {
    background-color: var(--color-danger);
}
.danger:hover {
    background-color: var(--color-danger);
}


@media (max-width: 768px) {
    .root {
        width: 100%;
    }
}
