@import '../../properties';

@mixin keyframes($animation-name: animaton, $x: 0, $y: 0) {
  @keyframes #{$animation-name} {
    0% {
      transform: translate3d($x, $y, 0);
    }

    50% {
      transform: translate3d(-$x, -$y, 0);
    }

    100% {
      transform: translate3d($x, $y, 0);
    }
  }
}

@mixin animation($animation-name) {
  animation: $animation-name;
  animation-fill-mode: both;
}

@include keyframes(animationWavefront, 0, 0.3vw);
@include keyframes(animationWaveback, 0, 0.15vw);
@include keyframes(animationShip, 0, 0.35vw);
@include keyframes(animationCloud, 0.5vw, 0);
@include keyframes(animationBallooning, 0.3vw, 0);

.root {
  background-color: var(--color-404background);
  height: calc(100vh - 70px);
  min-height: 750px;
  overflow: hidden;
  position: relative;
  vertical-align: bottom;
  width: 100%;

  @include mediaQuery(md) {
    height: calc(100vh - 60px);
  }

  @include mediaQuery(sm) {
    min-height: 90vh;
  }
}

.notfound404 {
  padding-top: var(--space-80);
  position: relative;
  text-align: center;
}

.heading {
  margin-bottom: var(--space-12);
}

.subheading {
  margin-bottom: var(--space-24);
}

.image {
  position: absolute;

  img {
    height: auto;
    object-fit: cover;
    width: 100%;
  }
}

.wavefront,
.waveback,
.ship {
  bottom: -2%;
  width: 100%;
}

.wavefront {
  z-index: 10;

  @include animation(animationWavefront 7.5s ease-in-out infinite);
}

.waveback {
  z-index: 9;

  @include animation(animationWaveback 6.5s ease-in-out infinite);
}

.ship {
  z-index: 8;

  @include animation(animationShip 7s ease-in-out infinite);
}

.ballooning {
  right: 5em;
  top: 10em;
  width: 70px;

  @include animation(animationBallooning 7s ease-in-out infinite);
}

.cloudleft,
.cloudright {
  @include animation(animationCloud 12s ease-in-out infinite);
}

.cloudleft {
  left: 2.5em;
  top: 20em;
  width: 180px;
}

.cloudright {
  right: 2.5em;
  top: 20em;
  width: 300px;
}
