:root {
    /* **** バリュー（値）層 **** */
    /* 色：色相名とカラーコードの紐付け */
    --color-white: #fff;
    --color-background-white: #F9FBFE;
    --color-black: #0B0F15;
    --color-gray: #D9D9D9;
    --color-text-gray: #666666;
    --color-gray-light: #F0F4F9;
    --color-gray-dark: #8491A5;
    --color-navy-gray: #6783a0;
    --color-aqua: #30C8D6;
    --color-aqua-dark: #23a4b0;
    --color-light-aqua: #8be0e6;
    --color-navy: #2B546A;
    --color-navy-dark: #16325C;
    --color-code-purple: #B5A4FF;
    --color-red: #E75252;
    --color-pink: #FF708F;
    --color-orange: #F39D2E;
    --color-green: #2CC679;
    --color-blue: #0070D2;
    --color-navy-light: #33495F;
    --color-yellow: #F7DF41;

    /* **** ブランディング層 **** */
    /* 色：色相名とカラーコードの紐付け */
    --color-base: var(--color-white);
    --color-base-background: var(--color-background-white);
    --color-title-background: var(--color-navy-light);
    --color-link: var(--color-blue);
    --color-link-visited: none;
    --color-link-hover: none;
    --color-link-active: none;
    --color-success: var(--color-green);
    --color-success-hover: var(--color-green);

    --color-danger: var(--color-red);
    --color-danger-hover: var(--color-red);

    --color-warning: var(--color-orange);
    --color-warning-hover: var(--color-orange);

    --color-info: var(--color-text-gray);

    --color-primary: var(--color-aqua);
    --color-primary-hover: var(--color-aqua-dark);

    --color-secondary: var(--color-gray);
    --color-secondary-hover: var(--color-navy-gray);

    --color-accent: none;
    --color-selected: var(--color-light-aqua);
    --color-shadow: rgba(160,166,179,0.3);
    --color-shadow-hover: rgba(160,166,179,0.4);

    /* 色：色相名とカラーコードの紐付け */


    /* **** メディア層 **** */
    /* 色：媒体固有で使用する色 */
    --color-text: var(--color-navy);
    --color-text-out: var(--color-white);
    --color-tip: var(--color-gray);
    --color-line: var(--color-gray);
    --color-info-layer1: var(--color-gray);
    --color-info-layer2: var(--color-white);
    --color-header: var(--color-white);
    --color-card: var(--color-white);
    --color-card-header: var(--color-white);


    /* 文字：サイズ（媒体に最適化した文字サイズ） */
    --font-size-xxs: .4rem;
    --font-size-xs: .6rem;
    --font-size-s: .8rem;
    --font-size-m: 1rem;
    --font-size-l: 1.2rem;
    --font-size-xl: 1.4rem;
    --font-size-xxl: 1.6rem;
    --font-size-xxxl: 1.8rem;
    --font-size-xxxxl: 2.0rem;




    /* 文字：太さ（媒体に最適化した文字の太さ） */
    --font-weight-default: 500;
    --font-weight-bold: 700;

    /* 文字：太さ（媒体に最適化した文字の太さ） */
    --line-height-heading: 1.1;
    --line-height-default: 1.2;
    --line-height-paragraph: 2;


    /* 余白（媒体に最適化した余白単位） */
    --space: .5rem;
    --letter-space: 1rem;

    /* 枠に関する要素（媒体に最適化した枠デザイン要素） */
    --line-width: 1px;
    --line-style: solid;
    --radius: 8px;
    --border: var(--line-width) var(--line-style) var(--color-line);


    /* フィードバックの定義（媒体に最適化したフィードバック・デザイン要素） */
    --hover-feedback-opacity: .7;

    /* アニメーションの定義（媒体に最適化したアニメーション・デザイン要素） */
    --hover-animation-duration: .2s;
    --hover-animation-timing: ease-out;
    --hover-animation: var(--hover-animation-duration) var(--hover-animation-timing);
    --feed-animation-duration: .2s;
    --feed-animation-timing: linear;
    --feed-animation: var(--feed-animation-duration) var(--feed-animation-timing);


    /* Z 座標の管理（Web媒体/CSSではZ座標を管理する） */
    --z-header: 10;


    /* レスポンシブ・デザイン用のカスタム・メディア（Webブラウザ用） */


}
