@import url("../../properties.css");

.recommendBlock {
    margin-bottom: 40px;
}


.recommendBlock ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recommendBlock li {
    margin-bottom: 16px;
    text-align: center;
    padding: 8px;
}

.recommendBlock p {
}


.recommendBlock img {
    margin-right: 8px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .recommendBlock {
        margin-bottom: 40px;
    }

    .recommendBlock ul {
        flex-direction: column;
        justify-content: center;
    }

    .recommendBlock img {
        margin-right: 0;
    }
}
