@import '../../properties';

main {
  padding-bottom: var(--space-80-fixed);

  @include mediaQuery(md) {
    padding-bottom: var(--space-64-fixed);
  }
}

.item {
  margin-bottom: var(--space-16-fixed);

  &:last-child {
    margin-bottom: 0;
  }
}
