@import '../../properties';

.main {
  padding-bottom: var(--space-80-fixed);

  @include mediaQuery(md) {
    padding-bottom: var(--space-64-fixed);
  }
}

.title {
  margin-bottom: var(--space-40);
  margin-top: var(--space-40);
}

.item {
  margin-bottom: var(--space-16);

  &:last-child {
    margin-bottom: 0;
  }
}
