@import "../../properties.scss";

.iconLink {
  text-decoration: none;
  color: var(--color-text);
  line-height: var(--line-height-s);

  span {
    padding-right: 8px;
  }
}

.iconLink:hover {
  text-decoration: underline;
}

.between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
