@import '../../properties';

.taskWrap {
  border-left: 2px solid var(--color-opacity6-black);
  padding-left: calc(10px + var(--space-16-fixed));
  padding-top: var(--space-40);
  position: relative;
}

.taskWrap:first-child {
  margin-top: var(--space-40);
  padding-top: 0;

  .taskTitle::after {
    background-color: var(--color-white);
    bottom: 50%;
    content: '';
    left: calc((var(--space-24-fixed) + 4px) * -1);
    position: absolute;
    top: 0;
    width: 2px;
    z-index: var(--z-overlay);
  }
}

.taskTitle {
  margin-bottom: var(--space-16);
  position: relative;

  &::before {
    background-color: var(--color-secondary);
    border-radius: var(--radius-circle);
    bottom: 0;
    content: '';
    height: 10px;
    left: calc((var(--space-32-fixed)) * -1);
    margin: auto;
    position: absolute;
    top: 0;
    width: 10px;
    z-index: calc(var(--z-overlay) + 1);
  }
}

.taskText {
  background-color: var(--color-block);
  border-radius: var(--radius-m);
  margin-top: var(--space-12);
  padding: var(--space-16);
}

.booksHeading {
  margin-bottom: var(--space-32);
  margin-top: var(--space-48);
}

.bookIcon {
  color: var(--color-opacity15-black);
  margin-right: var(--space-12);
}
