@import '../../properties';

.tab {
  display: flex;
  margin-bottom: var(--space-40);
}

.tabItem {
  background-color: var(--color-block);
  border: 3px solid var(--color-block);
  border-radius: var(--radius-m);
  flex: 1;
  padding: var(--space-24);
  text-align: left;

  &:first-child {
    margin-right: var(--space-24);
  }

  @include mediaQuery(sm) {
    text-align: center;
  }
}

.tabInner {
  opacity: 0.5;
}

.tabActive {
  border-color: var(--color-secondary);

  .tabInner {
    opacity: 1;
  }
}

.tabIconWrap {
  align-items: center;
  display: flex;
  margin-bottom: var(--space-24);

  @include mediaQuery(sm) {
    flex-direction: column;
  }
}

.tabIcon {
  width: 70px;

  @include mediaQuery(sm) {
    width: 60px;
  }
}

.tabTextWrap {
  margin-left: var(--space-16);

  @include mediaQuery(sm) {
    margin-top: var(--space-16-fixed);
  }
}

.levelText {
  margin-bottom: var(--space-6-fixed);
}

.taskWrap {
  border-left: 2px solid var(--color-opacity6-black);
  padding-left: calc(10px + var(--space-16-fixed));
  padding-top: var(--space-40);
  position: relative;
}

.taskWrap:first-child {
  margin-top: var(--space-40);
  padding-top: 0;

  .taskTitle::after {
    background-color: var(--color-white);
    bottom: 50%;
    content: '';
    left: calc((var(--space-24-fixed) + 4px) * -1);
    position: absolute;
    top: 0;
    width: 2px;
    z-index: var(--z-overlay);
  }
}

.taskTitle {
  margin-bottom: var(--space-16);
  position: relative;

  &::before {
    background-color: var(--color-secondary);
    border-radius: var(--radius-circle);
    bottom: 0;
    content: '';
    height: 10px;
    left: calc((var(--space-32-fixed)) * -1);
    margin: auto;
    position: absolute;
    top: 0;
    width: 10px;
    z-index: calc(var(--z-overlay) + 1);
  }
}

.taskText {
  background-color: var(--color-block);
  border-radius: var(--radius-m);
  margin-top: var(--space-12);
  padding: var(--space-16);
}

.booksHeading {
  margin-bottom: var(--space-32);
  margin-top: var(--space-48);
}

.bookIcon {
  color: var(--color-opacity15-black);
  margin-right: var(--space-12);
}
