@import '../../properties';

.listItem {
  padding: calc(var(--space) * 6) calc(var(--space) * 8);

  @include mediaQuery(sm) {
    padding: calc(var(--space) * 6) calc(var(--space) * 4);
  }
}

.navigationLink {
  align-items: center;
  color: var(--color-text);
  display: flex;
  font-size: var(--font-size-l);
  justify-content: space-between;
  text-decoration: none !important;

  @include mediaQuery(sm) {
    font-size: var(--font-size-s);
  }
}
