@import '../../properties';

.txt {
  color: var(--color-text);
}

.visualLevel1 {
  font-size: var(--font-size-m);
}

.visualLevel2 {
  font-size: var(--font-size-s);
}

.visualLevel3 {
  font-size: var(--font-size-xs);
}

.visualLevel4 {
  font-size: var(--font-size-xxs-fixed);
}

.lineHeightLevel1 {
  line-height: var(--line-height-xs);
}

.lineHeightLevel2 {
  line-height: var(--line-height-s);
}

.lineHeightLevel3 {
  line-height: var(--line-height-m);
}

.lineHeightLevel4 {
  line-height: var(--line-height-l);
}

.lineHeightLevel5 {
  line-height: var(--line-height-xl);
}

.info {
  color: var(--color-text-info);
}

.disable {
  color: var(--color-text-disable);
}
