@import '../../properties';

.txt {
  color: var(--color-text);
}

.visualLevel1 {
  font-size: var(--font-size-m);
}

.visualLevel2 {
  font-size: var(--font-size-s);
}

.visualLevel3 {
  font-size: var(--font-size-xs);
}

.visualLevel4 {
  font-size: var(--font-size-xxs-fixed);
}

.info {
  color: var(--color-text-info);
}

.disable {
  color: var(--color-text-disable);
}
