@import '../../properties';

.scene {
  border-radius: var(--radius-m);
  display: block;
  overflow: hidden;
}

.imageWrap {
  height: 50vh;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include mediaQuery(sm) {
    height: 218px;
  }
}

.image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.title {
  width: 75%;

  @include mediaQuery(sm) {
    font-size: var(--font-size-l-fixed) !important;
    margin-bottom: var(--space-12-fixed);
    width: 100%;
  }
}

.number {
  background: var(--color-white);
  border-radius: var(--radius-round);
  bottom: var(--space-32);
  left: var(--space-32);
  overflow: hidden;
  padding: var(--space-12) var(--space-24);
  position: absolute;
  z-index: var(--z-overlay-content);

  @include mediaQuery(sm) {
    bottom: var(--space-16-fixed);
    font-size: var(--font-size-xxs-fixed) !important;
    left: var(--space-16-fixed);
  }
}

.textWrap {
  align-items: center;
  background: var(--color-white);
  display: flex;
  justify-content: space-between;
  padding: var(--space-32-fixed);
  width: 100%;

  @include mediaQuery(sm) {
    align-items: flex-start;
    flex-direction: column;
    padding: var(--space-16-fixed) var(--space-16-fixed) var(--space-20-fixed);
  }
}

.readMore {
  color: var(--color-link);

  @include mediaQuery(sm) {
    align-self: flex-end;
    font-size: var(--font-size-xxs-fixed) !important;
  }
}

.title,
.number {
  transition: var(--hover-animation-fast);
}

@media (hover: hover) {
  .scene:hover {
    text-decoration: none;

    .number {
      background-color: var(--color-link);
      color: var(--color-white);
    }

    .title {
      color: var(--color-link);
    }
  }
}
