@import '../../properties';

.scene {
  border-radius: var(--radius);
  display: block;
  overflow: hidden;
}

.imageWrap {
  height: 550px;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include mediaQuery(md) {
    height: 400px;
  }

  @include mediaQuery(sm) {
    height: 218px;
  }
}

.image {
  height: 100%;
  object-fit: cover;
  transition: var(--hover-overlay-animation);
  width: 100%;
}

.title {
  width: 75%;

  @include mediaQuery(sm) {
    font-size: var(--font-size-l) !important;
    margin-bottom: var(--space-12-fixed);
    width: 100%;
  }
}

.number {
  background: var(--color-white);
  border-radius: 100px;
  bottom: var(--space-32);
  left: var(--space-32);
  padding: 0.41em 1em;
  position: absolute;
  z-index: var(--z-overlay-content);

  @include mediaQuery(sm) {
    bottom: var(--space-16-fixed);
    font-size: var(--font-size-xxs);
    left: var(--space-16-fixed);
  }
}

.textWrap {
  align-items: center;
  background: var(--color-white);
  display: flex;
  justify-content: space-between;
  padding: var(--space-32-fixed);
  width: 100%;

  @include mediaQuery(sm) {
    align-items: flex-start;
    flex-direction: column;
    padding: var(--space-16-fixed) var(--space-16-fixed) var(--space-20-fixed);
  }
}

.readMore {
  color: var(--color-link);

  @include mediaQuery(sm) {
    align-self: flex-end;
    font-size: var(--font-size-xxs) !important;
  }
}

.scene:hover {
  text-decoration: none;

  .image {
    transform: scale3d(1.03, 1.03, 1);
  }
}
