@import "../../properties.css";

.root {
    margin: 40px 0;
}

.slider {
    display: flex;
    box-shadow: 0 2px 10px var(--color-shadow);
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;    /* IE, Edge 対応 */
    scrollbar-width: none;       /* Firefox 対応 */
}

.slider:hover {
    box-shadow: 0 2px 10px var(--color-shadow-hover);
}

.slider::-webkit-scrollbar {  /* Chrome, Safari 対応 */
    display:none;
}

.slide {
    max-width: 100%;
    flex-shrink: 0;
}

.slider > div {
    /* CURRENT way. */
    scroll-snap-align: start;
}

.btn {
    position: absolute;
    width: 40px;
    height: 38px;
    top: 50%;
    opacity: 0.79;
    cursor: pointer;
    z-index: 1;
    color: var(--color-white);
    text-align: center;
}

.prevButton {
    left: 16px;
}

.nextButton {
    right: 16px;
}

@media (max-width: 768px) {
    .root {
        text-align: center;
        margin-top: 40px;
    }

    .btn {
        display: none;
    }
}
