@import '../../properties';

.firstView {
  background-color: var(--color-white);
  margin-bottom: var(--space-96);
  padding-bottom: var(--space-96);

  @include mediaQuery(md) {
    margin-bottom: var(--space-56-fixed);
    padding-bottom: var(--space-56-fixed);
  }

  @include mediaQuery(sm) {
    margin-bottom: var(--space-48-fixed);
    padding-bottom: var(--space-48-fixed);
  }
}

.titleWrap {
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-24);

  @include mediaQuery(md) {
    display: block;
    margin-top: var(--space-8-fixed);
  }
}

.title {
  margin-right: var(--space-64);
  max-width: 430px;
  min-width: 280px;

  @include mediaQuery(lg) {
    font-size: var(--font-size-xxxl-fixed) !important;
  }

  @include mediaQuery(md) {
    font-size: var(--font-size-xxl-fixed) !important;
    margin-bottom: var(--space-24);
    margin-right: 0;
    max-width: 620px;
    min-width: unset;
  }

  @include mediaQuery(sm) {
    font-size: var(--font-size-xl-fixed) !important;
  }
}

.description {
  max-width: 580px;

  a {
    color: var(--color-link);
  }

  @include mediaQuery(md) {
    max-width: 620px;
  }
}
