@import "../../properties.css";

.root {
    margin: 80px 0;
}

.inline {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.reverse {
    flex-direction: row-reverse;
    text-align: right;
}

.inline > * {
    width: 50%;
}

@media (max-width: 768px) {
    .root {
        text-align: center;
        margin: 60px 0;
    }

    .inline {
        flex-direction: column;
    }

    .inline > * {
        width: 100%;
    }
}
