@import '../../properties';

.main {
  padding-bottom: var(--space-112);

  @include mediaQuery(md) {
    padding-bottom: 0;
  }
}

.keyVisual,
.heroTxtwrap {
  position: absolute;
}

.keyVisual {
  left: 0;
  top: 0;
  z-index: var(--z-background);
}

.heroContainer {
  align-items: center;
  display: flex;
  justify-content: center;
}

.heroTxtWrap {
  text-align: center;
}

.title {
  margin-bottom: var(--space-8);

  @include mediaQuery(sm) {
    font-size: var(--font-size-xl-fixed) !important;
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-64);

  a {
    color: var(--color-link);
  }
}

.highlightedHeading {
  margin-bottom: var(--space-24);
  margin-top: var(--space-96);

  &:first-child {
    margin-top: 0;
  }

  @include mediaQuery(sm) {
    margin-bottom: var(--space-20-fixed);
    margin-top: var(--space-64-fixed);
  }
}

.image {
  margin-top: var(--space-40);
  width: 100%;

  @include mediaQuery(sm) {
    align-self: center;
    max-width: unset;
    width: 100vw;
  }
}

.container span {
  &[data-type] {
    border-radius: 5px;
    margin: 0 var(--space-2-fixed);
    padding: calc(0.5 * var(--space-2-fixed)) var(--space-6-fixed);
  }

  &[data-type='term'] {
    background: #fffaf0;
    color: #b85600;
  }

  &[data-type='search'] {
    background: var(--color-block);
    border: var(--border);
  }
}
