@import '../../properties';

.main {
  padding-bottom: calc(var(--space) * 20);
  padding-top: 32px;
}

.container {
  max-width: 620px !important;
  padding: 0 !important;
}

.breadcrumb {
  margin-bottom: 50px;

  a {
    text-decoration: none;
  }
}

.title {
  color: var(--color-white) !important;
}

.visual {
  height: 300px;

  @include mediaQuery(md) {
    height: 250px;
  }
}

.overview {
  margin: 40px 0;
}

.image {
  margin-bottom: 80px;
}

.purpose {
  h3 {
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 64px;
  }
}

.learning {
  h2 {
    border-bottom: var(--border);
    margin-bottom: 32px;
    padding-bottom: 16px;
  }
}

.standard {
  h3 {
    margin-bottom: 24px;
  }

  h4 {
    margin-bottom: 16px;
    margin-top: 0;
  }

  li {
    margin-top: 16px;
  }

  p {
    display: inline-block;
  }

  li::before {
    color: #d9d9d9;
    content: '•';
    margin-right: 16px;
  }

  > div {
    margin-bottom: 24px;
    padding: 32px;
  }
}

.overall {
  margin-top: 32px;

  h3 {
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 40px;
  }
}
